@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --green:#0b921d;
    --light-green: #9dec89;
    --dark-color:#075504;
    --black:#2e2e2e;
    --light-color:#666;
    --grey:#efedf8;
    --dark-grey: #B7B7B7;
    --red: #FE2727;
    --light-red: #f7b4b4;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--dark-color);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);

}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition:width none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-track{
    background: var(--black);
}

body{
    background: #f6f2f2;
}

section{
    padding: 5rem 9%;
}

.product-content {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    grid-template-columns: 2fr 1fr;

}

.product-content-left{
    width: 40%;  
   /* display: flex;
  justify-content: space-between;
*/
}
.product-content-left-big-img{
    width: 80%;   
    padding-right: 20px;
    box-shadow: var(--box-shadow);
    
}
.product-content-left-big-img img{
    width: 100%;
}
.product-content-left-small-img{
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;
}
.product-content-left-small-img img{
    margin-right: 15px;
    width: 100%;
}
.product-content-right{
    width: 60%;
   }
.product-content-right-product-name h1{
/*    font-family: var(--main-text-font);
*/    font-size: 30px;
}
.product-content-right-product-name p{
    color: gray;
    font-size: 15px;
}

.product-content-right-product-feeback {
    display: flex;
    font-size: 15px;
    background:#ECECEC ;
    height: 40px;
    align-items: center;
    font-weight: bold;
    margin-top: 10px;
    padding: .8rem;
}
.product-content-right-product-feeback div {
    margin-right: 10px;
}
.product-content-right-product-feeback small{
    color: gray;
}
.product-content-right-product-star i{
    color:#ee4d2d;
}
.product-content-right-product-price{
    font-size: 15px;
    font-weight: bold;
    display: flex;
    background: linear-gradient(#E6F1D8,#F0FFF0); 
    height: 60px;
    align-items: center;
    padding: 1rem;
}
.cost{
    font-size: 2rem;
    text-decoration: line-through;
    color: #929292;
    padding:0 1rem 0 0;
    
}
.price{
    font-size: 2.7rem;
    color: #ee4d2d;
}
.sale{
    font-size: 1.7rem;
    color: #fff;
    background: #ee4d2d;
    border-radius: 2px;
    padding: 0 .5rem 0 .5rem;
    margin-left: 1.5rem;
    
}
.product-content-right-product-deal{
    display: flex;
    margin-bottom: 20px;
    font-size: 15px;
    margin-top: 25px;
}
.product-content-right-product-deal p{
    color: gray;   
    margin-right: 36px;
}
.product-content-right-product-deal div{
    background: #FFE4E1;
    color: #ee4d2d;
    padding: .2rem 1rem .2rem 1rem;
    cursor: pointer;
}
.quantity {
    display: flex;
    margin-bottom: 20px;
    font-size: 15px;
    margin-top: 25px;
}
.quantity p{
    color: gray;
    margin-right: 25px;

}
.quantity input{
    width: 40px;
    /* padding-left: 8px; */
    /* margin-left: 5px; */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
    text-align: center;
    margin-right: 25px;
}
.product-content-right-product-button{
    display: flex;
}
.product-content-right-product-button button{
    height: 45px;
    /* display: block; */
    /* margin: 20px 0 12px; */
    transition: all 0.3s ease;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;   
    margin-right: 20px;    
    margin-top: 10px;
    font-size: 1.5rem;
    padding: .9rem;
}
.cart{
    width: 180px;
    border: 2px solid #ee4d2d;
    background-color: #FFE4E1;
}
.buy{
    width: 130px;
    border: 2px solid #ee4d2d;
    background-color: #ee4d2d;
}

.product-content-right-product-button button:hover{
    background-color: #C82E31;
    color: white;
}
.product-content-right-product-icon{
    display: flex;
    position: relative;
}
.product-content-right-product-icon-item{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: .6rem;
    text-align: center;
    justify-content: center;
}
.product-content-right-product-icon-item a{
    color: var(--black);
    font-size: 1.5rem;
    padding: 1.3rem 1.5rem;
}
.product-content-right-product-icon-item i {
    cursor: pointer;
    display: inline;
}


.product-content-bottom{
    margin-top: 70px;
    border-top: 1px groove white;
    position: relative;
}
.product-content-bottom-top{
    position: absolute;
    left: 50%;
    top: -2rem;
    /* transform: translateX(50%); */
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.product-content-bottom-top i{
    display: block;
    width: 3rem;
    height: 3rem;
    border: var(--border);
    border-color: var(--dark-color);
    background: #fff;
    color: var(--dark-color);
    border-radius: 50%;
    text-align: center;
    font-size: 2.2rem;
    line-height: 3rem;
    margin: .8rem .5rem 0;
    justify-content: center;
}
.product-content-bottom-top:hover i{
    background: var(--dark-color);
    color: white;
}
.product-content-bottom-content-title{
    border-top: 1px groove white;
    border-bottom: 1px groove white;
    display: flex;
    font-size: 15px;
    text-align: center;
}
.product-content-bottom-content-title-item{
    padding: 1rem 1.5rem 1rem 1.5rem;
    cursor: pointer;

}
.product-content-bottom-content-title-item p{
    font-size: 1.6rem;
    font-weight: 400;
}


.product-content-bottom-content{
    padding-top: 30px;   
    padding-left: 2rem;
    font-size: 1.5rem;
    padding-right: 2rem;
}

.product-content-bottom-content-gioithieu{
    display: none;
    text-transform: none;
}
.product-content-bottom-content-img{
    display: none;
}
.product-content-bottom-content-title div:hover{
    background: var(--green);
    color: white;
}
.activeB{
    display: none;
}



/* media queries*/
@media (max-width:991px){
    html{
        font-size: 55%;
    }

    .header .header-1{
        padding: 2rem;
    }

    section{
        padding: 3rem 2rem;
    }
}

@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }
    body{
        padding-bottom: 6rem;
    }
    .header .header-2 {
        display: none;
    }
    .bottom-navbar{
        display: block;
    }
    #search-btn{
        display: inline-block;
    }
    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }
    .header .header-1 .search-form{
        position: absolute;
        top: -115%; right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }
    .header .header-1 .search-form.active{
        top: 115%;
    }

    .home .row .content{
        text-align: center;
    }

    .home .row .content h3{
        font-size: 3.5rem;
    }
    
/* ----------product ------------ */

    .product-content-right-product-name h1{
        padding-top: 2rem;
        font-size: 2.5rem;
    }

    .product-content-right-product-name p{
        font-size: 1.4rem;
    }
    .product-content-right-product-feeback{
        font-size: 1.5rem;
    }
    .product-content-right-product-star i{
        font-size: 1.1rem;
    }
    .product-content-right-product-price .cost{
        font-size: 1.5rem;
    }
    .product-content-right-product-price .price{
        font-size: 2rem;
    }
    .product-content-right-product-price .sale{
        font-size: 1.3rem;
    }
    .product-content-right-product-deal{
        font-size: 1.5rem;
    }

    .product-content-right-product-deal div{
        padding: 0 .5rem;
    }

    .quantity p{
        font-size: 1.5rem;
    }
    .quantity input{
        width: 30px;
        font-size: 1.2rem;
    }
    /* .product-content-right-product-button{
        display: block;
    } */
    .product-content-right-product-button button{
        height: 40px;
        font-size: 1.7rem;
    }
    .cart{
        width: 150px;
    }
    .buy{
        width: 90px;
    }
    .product-content-bottom-top i{
        width: 2.5rem;
        height: 2.5rem;
        line-height: 2.5rem;
        font-size: 1.8rem;
    }
    .product-content-bottom-content-title{
        padding-top: 1rem;
        justify-content: center;
    }


}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .product-content {
        display: block;
        
    }

    .product-content-left{
        width: 100%;
    }

    .product-content-left-big-img{
        width: 100%;
    }

    .product-content-left .product-content-left-small-img{
        display: none;
    }

    .product-content-left {
        width: 100%;
    }

    .product-content-right{
        width: 100%;
    }

    .product-content-bottom-content{
        text-align: justify;
        
    }
}
